<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>824532249159-tgijbukdsipu61e9upno1e2bdlf1psfk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.824532249159-tgijbukdsipu61e9upno1e2bdlf1psfk</string>
	<key>API_KEY</key>
	<string>AIzaSyCMjwRQN6XLkcx26mRrASJQE3r_J3UVrYQ</string>
	<key>GCM_SENDER_ID</key>
	<string>824532249159</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>oa.ChattyChat</string>
	<key>PROJECT_ID</key>
	<string>chattychat-74328</string>
	<key>STORAGE_BUCKET</key>
	<string>chattychat-74328.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:824532249159:ios:c668783a0f6f9faf6e9f62</string>
	<key>DATABASE_URL</key>
	<string>https://chattychat-74328.firebaseio.com</string>
</dict>
</plist>